/*
* Site-wide CSS
*
* ------ COLORS ------
* Gunmetal:           #2C363F
* Dark Blue-Gray:     #666A86
*
* Purple:             4B3F72
*
* Light Slate Gray:   #6E8898 (Darker light blue)
* Wild Blue Yonder:   #9FB1BC (Lighter light blue)
*
* Desaturated Cyan:   #61988E  (Green)
* Dark Pink:          #E75A7C
*
* Isabelline:         #F2F5EA  (White)
*/


/* Set font for entire website to Product Sans */
* {
 font-family: 'Source Sans Pro', Arial, sans-serif;
}

a:hover{
  color: #9FB1BC;
  text-decoration: none;
}

li{
  font-size: 1.2em;
}

.vertically-center-children{
  display: flex;
  align-items: center;
}

/* ----- Highlight color ----- */
::selection {
  background: #9FB1BC; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #9FB1BC; /* Gecko Browsers */
  color: white;
}

#home-section{
  width: 100%;
  top: 0px;

  min-height: 100%; /*Fallback for browsers that don't support vh unit */
  min-height: 100vh;

  color: #F2F5EA;

  /*Color Gradients*/
  background: #666A86; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #666A86, #8BE8CB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #666A86, #8BE8CB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #666A86, #8BE8CB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #666A86, #8BE8CB); /* Standard syntax */
}

#info-container{
  min-height: 65vh;
}

/*Down button in first section */
#home-section #down-button{
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;

 /* Don't highlight text on highlight

    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-header{
  margin-top: 2em;
  margin-bottom: 1em;
}


/* ------------------ Work Experience ------------------ */

/* 
 *  Represents the time and location of the job
 */

.metadata{
  font-size: 1.15em !important;
  opacity: 0.75;
}

.metadata-light{
  font-size: 1.15em !important;
  opacity: 0.75;
  color: black;
}

.job-jumbotron{  
  color: #F2F5EA;
}

.job-jumbotron > a{
  font-size: 1.2em;
  color: #F2F5EA;
}

#atmos-job{
  background-color: #61988E;
}

#cspire-job{
  /*Color Gradients*/
  background: #E75A7C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #99B2DD, #E75A7C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #99B2DD, #E75A7C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #99B2DD, #E75A7C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #99B2DD, #E75A7C); /* Standard syntax */
}

#tcu-job{
  background-color: #6E8898;
}

/* ------------------ Web ------------------ */
.portfolio-jumbotron > a{
  font-size: 1.2em;
  color: #F2F5EA;
}

.portfolio-jumbotron > p > a{
  /*font-size: 1.2em !important;*/
  display: inline;
  color: #F2F5EA;
}

.portfolio-jumbotron > ul > li > a{
  /*font-size: 1.2em !important;*/
  display: inline;
  color: #F2F5EA;
}

.portfolio-item-description{
  font-size: 1.2em !important;
}

#web-section{
  background-color: #3C3C3B;
  color: #F2F5EA;
}

#scheduling-your-horizons-site{
  /*Color Gradients*/
  background: #00A9A5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #06D6A0, #00A9A5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #06D6A0, #00A9A5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #06D6A0, #00A9A5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #06D6A0, #00A9A5); /* Standard syntax */
}

#pixel-sorting-site{
  background-color: #E75A7C;
}

#tic-tac-toad-site{
  background-color: #6E8898;
}

#old-site{
  /*Color Gradients*/
  background: #EE6C4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #F2A359, #EE6C4D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F2A359, #EE6C4D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F2A359, #EE6C4D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F2A359, #EE6C4D); /* Standard syntax */
}

/* ------------------ Mobile ------------------ */
#mobile-section{
  color: #F2F5EA;

  /*Color Gradients*/
  background: #27FB6B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #14CC60, #27FB6B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #14CC60, #27FB6B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #14CC60, #27FB6B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #14CC60, #27FB6B); /* Standard syntax */ 
}

#goldie-app{
  background-color: #F2F5EA;
}

/* Nav bar stuff */
.navbar{
  background-color: rgba(255, 255, 255, 0); /* Clear color*/
}

.navbar-brand{
  font-size: 3em;
  color: #F2F5EA;
}

.nav-link{
  font-size: 115%;
  color: #F2F5EA;
}

.navbar-fixed .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F2F5EA;
  background-color: rgba(255, 255, 255, 0); /* Clear color*/
  text-decoration: underline;
}

.active-link{
  color: #F2F5EA;
  text-decoration: underline;
}

/* ----- End Navbar -----*/

/* ----- Hello World -----*/
#hello-world{
  padding-top: 2em;
  font-size: 2.5em;
  visibility: hidden;
}

#my-name{
  font-size: 5em;
  opacity: 0;
  
}

#my-info{
  opacity: 0;
}

/* ----- Footer ----- */
.footer{
  background-color: #2C363F;
  height: 3.5em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text{
  margin-top: 1.2em;
  color: #E75A7C;
}
