a {
  animation-duration: 500ms;
  animation-name: blink;
  font-size: 35px;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: black;
  }

  50% {
    opacity: 1;
    color: gold;
  }

}
