body {
  padding-top: 50px;
}

.tic-tac-square{
    width:10vw;
    height: 10vw;
}

.square {
    width: 35vw;
    height: 35vw;
}

.game-piece{
  line-height: 10vw;
  /*font-size: xx-large;*/
  font-size: 150%;
}
