
/************** October 25, 2017 **************/
#october26-17{
    width: 15em;
    height: 15em;
    background-color: #59C3C3;
    display: inline-block;
    /* border-radius: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: october26-17-animation 3s linear alternate infinite;
}

@keyframes october26-17-animation{
    0% {
        border-radius: 0%;
        background-color: #59C3C3;
        transform: rotate(360deg);
    }
    25% {
        border-radius: 100% 0% 0% 0%;
    }
    50% {
        border-radius: 100% 100% 0% 0%;
        background-color: #EA3788;
    }
    75% {
        border-radius: 100% 100% 100% 0%;
    }
    100% {
        border-radius: 100% 100% 100% 100%;
        background-color: #1A936F;
    } 
}



/************** October 25, 2017 **************/
#october25-17-background{
    width: 20em;
    height: 20em;
    background-color: #52489C;
    display: inline-block;
    border-radius: 20%;
    display: flex;
    justify-content: center;
	align-items: center;
}

#october25-17{
    width: 10em;
    height: 10em;
    background-color: #ffd166;
    opacity: 0;
    /* display: inline-block; */
    border-radius:100%;
    
    
    animation: october25-17-animation 1.5s infinite alternate linear;
}

@keyframes october25-17-animation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}